*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body{
    background-color:wheat;
}

.main-container{
    height: 800px;
    width: 800px;
    border: 2px solid white;
    margin: 0 auto;
    position: relative;
}

.box{
    height: 200px;
    width: 200px;
    background-color: brown;
    position: absolute;
    animation-name: run;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes run{
    0%{left:0; top:0;background-color:tomato}
    25%{left:75%; top:0;background-color: rebeccapurple}
    50%{left:75%; top:75%;background-color: goldenrod}
    75%{left:0; top:75%;background-color:blueviolet}
    10%{left:0; top:0; background-color:forestgreen }
}